<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p id="deleteMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" style="width: 60px;" id="confirmDelete">OK</button>
                <button type="button" class="btn btn-secondary" style="width: 60px;" id="batalButton" data-dismiss="modal">Batal</button>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .modal {
        border-radius : 5px;
    }    
</style>