<div class="container">
    <div class="row">
        <div class="col-sm-6">
                        <label for="SearchByNik">NIK</label>
                        <input type="number" class="form-control" id="SearchByNik"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <label for="SearchByName">Nama</label>
            <input type="text" class="form-control" id="SearchByName" />
        </div>
    </div>
</div>