    <table class="table table-bordered">
        <thead class="table-header">
            <tr>
                <th>No</th>
                <th>NIK</th>
                <th>Nama Lengkap</th>
                <th>Umur</th>
                <th>Tanggal Lahir</th>
                <th>Jenis Kelamin</th>
                <th>Alamat</th>
                <th>Negara</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="dataKaryawan">
           
        </tbody>
    </table>

<style>
    .table-header {
        background-color: #337ab7;
        color: white;
        text-align: center;
    }

    .table th, .table td {
        text-align: center;
        vertical-align: middle;
    }

    .action-link {
        color: blue;
        text-decoration: none;
        font-weight: bold;
    }

    .delete-link {
        color: red;
        text-decoration: none;
        font-weight: bold;
    }
</style>
